<head>

</head>
<body>
  <h1>Editing create content dto</h1>

  <%= render "form", create_content_dto: @create_content_dto %>

  <br>

  <div>
    <%= link_to "Show this create content dto", @create_content_dto %> |
    <%= link_to "Back to create content dtos", create_content_dtos_path %>
  </div>
</body>

