<head>
</head>
<body>
  <%= render 'shared/header' %>
  <section>

    <h1>Nyt Opslag</h1>

    <%= render "form", create_content_dto: @create_content_dto %>

    <br>

    <div>
      <%= link_to "Back to create content dtos", create_content_dtos_path %>
    </div>
  </section>
</body>


