/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import "https://fonts.googleapis.com/css?family=Bitter";

article.show{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 1em 2em 1em 2em;
    background: #f1f7f4;
    width: 100vw;
    max-width: 555px;
    box-sizing: border-box;
}
.show-image{
    display: flex;
    flex-direction: column;
}
.element-center{
    display: flex;
    justify-content: center;
}
.border-bottom{
    border-bottom: 1px solid black;
}
body{
    margin: 0 0 1em 0;
    background: #e0e7ef;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'bitter', sans-serif;
}
header.top-bar{
    width: 100%;
    position: relative;
    background: #00a489;
    margin-bottom: 1em;
}
header .nav-section {
    margin-left: 5%;
    height: 70px;
    display: flex;
    align-items: center;
}
section.show{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 1em 2em 0 2em;
    background: white;
    width: 100vw;
    max-width: 555px;
    box-sizing: border-box;
}
section.bottom-page-margin{
     margin-bottom: 1em;
}

section.new{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 1em 2em 1em 2em;
    width: fit-content;
    background: white;
    align-items: center;
}
form > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
form > div .side-by-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form > div.side-by-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form{
    flex-direction: column;
    display: flex;
}
input, select, textarea{
    border: 1px solid;
    border-radius: 5px;
    min-height: 20px;
}
input[type="file"]{
    border: revert;
    border-radius: revert;
}
input[type="checkbox"]{
    min-height: revert;
}
label{
    font-weight: bold;
}
div .choice-label{
    font-weight: revert;
}
.btn-shape{
    font-family: 'open sans', sans-serif;
    font-size: small;
    border: 1px solid;
    border-radius: 30px;
    padding: 6px 15px;
    min-width: 76px;
    background: #f4f4f4;
    text-decoration: none;
    color: #000000;
    transition-duration: 0.3s;
}
.btn-shape:hover{
    color: #ffffff;
    cursor: pointer;
}
.btn-save{
    border-color: #00836d;
}
.btn-save:hover{
    background-color: #00836d;
}
.btn-preview{
    border-color: #304232;
}
.btn-preview:hover{
    background-color: #304232;
}
.btn-cancel{
    min-width: revert;
    border-color: #c73938;
}
.btn-cancel:hover{
    background-color: #c73938;
}

section.index-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 10px;
    max-width: 75%;
    margin: 0 auto 0 auto;
    padding: 1em 0.8em;
    background: white;
}
article.index-article{
    overflow: hidden;
    border-radius: 2px;
    background: #f1f7f4;
    border: 1px solid #304232;
    position: relative;
}
button.index-button-new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f7f4;
    gap: 20px;
    border: 1px solid #304232;
    border-radius: 2px;
    width: 100%;
    height: 100%;
}
.remove-text-decoration{
    text-decoration: none;
}
.index-button-new:hover{
    background-color: #e8f0ef;
    cursor: pointer;
}
.index-button-new:hover .plus-sign{
    background-color: #00937b;
}
.plus-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a489;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 999px;
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    color: #ffffff;
}
article .index-image{
    width: 100%;
    border-bottom: 1px solid #304232;
}
article .index-text{
    padding: 0 1rem;
}
.index-text > h1, p{
    margin: 0.5rem 0;
}



