/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    margin: 0;
    background: #e0e7ef;
}
header{
    width: 100%;
    position: relative;
    background: #00836d;
    margin-bottom: 1em;
}
header .nav-section {
    margin-left: 5%;
    height: 70px;
    display: flex;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 1px 2em 1em 2em;
    width: fit-content;
    background: white;
    align-items: center;
    justify-items: center;

}

form > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
form > div .side-by-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form{
    flex-direction: column;
    display: flex;
}
label{
    font-weight: bold;
}
div .choice-label{
    font-weight: revert;
}



